body {
    background-image: url(../images/dragonballz.jpg);

}

.container {
    background-color: white;

}

.ans {
    cursor: pointer;
    border: 1px solid gray;
    padding:10px;
}

img {
    height: 300px;
    width: 500px;
}

#timer{
    font-size: 50px;
    color: red

}
